In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
with open("data/dtypes_dict.pickle", "rb") as file:
    dtypes_dict = pickle.load(file)

In [3]:
df = pd.read_csv("data/data_after_eda.csv", dtype=dtypes_dict)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24386900 entries, 0 to 24386899
Data columns (total 24 columns):
 #   Column            Dtype
---  ------            -----
 0   User              int64
 1   Card              int8
 2   Use Chip          int8
 3   Merchant City     int8
 4   Merchant State    int8
 5   Zip               float32
 6   MCC               int64
 7   Errors            int8
 8   Fraud             int8
 9   Date              object
 10  Outcome           int8
 11  Time_diff         int8
 12  Amount_cat        int8
 13  is_diff_merchant  int8
 14  Month_sin         float32
 15  Month_cos         float32
 16  Day_sin           float32
 17  Day_cos           float32
 18  Dow_sin           float32
 19  Dow_cos           float32
 20  Hour_sin          float32
 21  Hour_cos          float32
 22  Minute_sin        float32
 23  Minute_cos        float32
dtypes: float32(11), int64(2), int8(10), object(1)
memory usage: 1.8+ GB

In [5]:
df.head()

,User,Card,Month,Day,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors,Fraud,Date,Dow,Hour,Minute,Outcome,Time_diff,Amount_cat,is_diff_merchant
0,791,1,1,2,2,1,1,22015.0,0,4,0,1991-01-02 07:10:00,2,7,10,0,0,3,0
1,791,1,1,2,2,1,1,22015.0,0,4,0,1991-01-02 07:17:00,2,7,17,1,-92,2,0
2,791,1,1,2,2,1,1,22015.0,0,4,0,1991-01-02 07:21:00,2,7,21,0,-16,3,0
3,791,1,1,2,2,1,1,22015.0,0,4,0,1991-01-02 17:30:00,2,17,30,0,-68,3,1
4,791,1,1,3,2,1,1,22015.0,0,4,0,1991-01-03 09:03:00,3,9,3,0,-84,4,1

In [24]:
df_train, df_valid = df[:22000000], df[22000000:]

In [25]:
df_train.Fraud.mean(), df_valid.Fraud.mean()

(0.0012309090909090909, 0.001121538397084084)

In [41]:
# tmp = df_valid.groupby(by="User").slice(0, 2000, 1)

In [30]:
# def __groupby_slice( _grp, start=0, stop=None, step=1):
#     '''
#     Applies a slice to a GroupBy object
#     '''
#     return _grp.apply( lambda _df : _df.iloc[start:stop:step]).reset_index(drop=True)

# pd.core.groupby.GroupBy.slice = __groupby_slice

In [42]:
# tmp.groupby(by='User').count()

,Card,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors,Fraud,Date,Outcome,...,Month_sin,Month_cos,Day_sin,Day_cos,Dow_sin,Dow_cos,Hour_sin,Hour_cos,Minute_sin,Minute_cos
User,,,,,,,,,,,,,,,,,,,,,
0,1580,1580,1580,1580,1475,1580,1580,1580,1580,1580,...,1580,1580,1580,1580,1580,1580,1580,1580,1580,1580
1,752,752,752,752,697,752,752,752,752,752,...,752,752,752,752,752,752,752,752,752,752
2,2000,2000,2000,2000,1093,2000,2000,2000,2000,2000,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000
3,1174,1174,1174,1174,861,1174,1174,1174,1174,1174,...,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174
4,1263,1263,1263,1263,1051,1263,1263,1263,1263,1263,...,1263,1263,1263,1263,1263,1263,1263,1263,1263,1263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1538,1538,1538,1538,1489,1538,1538,1538,1538,1538,...,1538,1538,1538,1538,1538,1538,1538,1538,1538,1538
1996,1398,1398,1398,1398,1084,1398,1398,1398,1398,1398,...,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398
1997,1696,1696,1696,1696,1585,1696,1696,1696,1696,1696,...,1696,1696,1696,1696,1696,1696,1696,1696,1696,1696
1998,957,957,957,957,822,957,957,957,957,957,...,957,957,957,957,957,957,957,957,957,957
1999,2000,2000,2000,2000,1401,2000,2000,2000,2000,2000,...,2000,2000,2000,2000,2000,2000,2000,2000,2000,2000

In [40]:
# df_valid.groupby(by='User').count()

,Card,Use Chip,Merchant City,Merchant State,Zip,MCC,Errors,Fraud,Date,Outcome,...,Month_sin,Month_cos,Day_sin,Day_cos,Dow_sin,Dow_cos,Hour_sin,Hour_cos,Minute_sin,Minute_cos
User,,,,,,,,,,,,,,,,,,,,,
0,1580,1580,1580,1580,1475,1580,1580,1580,1580,1580,...,1580,1580,1580,1580,1580,1580,1580,1580,1580,1580
1,752,752,752,752,697,752,752,752,752,752,...,752,752,752,752,752,752,752,752,752,752
2,3510,3510,3510,3510,1917,3510,3510,3510,3510,3510,...,3510,3510,3510,3510,3510,3510,3510,3510,3510,3510
3,1174,1174,1174,1174,861,1174,1174,1174,1174,1174,...,1174,1174,1174,1174,1174,1174,1174,1174,1174,1174
4,1263,1263,1263,1263,1051,1263,1263,1263,1263,1263,...,1263,1263,1263,1263,1263,1263,1263,1263,1263,1263
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1538,1538,1538,1538,1489,1538,1538,1538,1538,1538,...,1538,1538,1538,1538,1538,1538,1538,1538,1538,1538
1996,1398,1398,1398,1398,1084,1398,1398,1398,1398,1398,...,1398,1398,1398,1398,1398,1398,1398,1398,1398,1398
1997,1696,1696,1696,1696,1585,1696,1696,1696,1696,1696,...,1696,1696,1696,1696,1696,1696,1696,1696,1696,1696
1998,957,957,957,957,822,957,957,957,957,957,...,957,957,957,957,957,957,957,957,957,957
1999,2221,2221,2221,2221,1562,2221,2221,2221,2221,2221,...,2221,2221,2221,2221,2221,2221,2221,2221,2221,2221

In [39]:
# tmp.to_numpy()[0]

array([0, 1, 0, 1, 1, 91750.0, 0, 4, 0, '2018-10-24 06:02:00', 0, -56, 3,
       1, -0.8660254037844386, 0.5000000000000001, -0.9884683243281114,
       0.15142777750457667, 0.9749279121818236, -0.22252093395631434, 1.0,
       6.123233995736766e-17, 0.20791169081775931, 0.9781476007338057],
      dtype=object)

* batch_size = number of users
* seq_len = window for user
* embedding_dim = features

Ля вот как нормально собрать батчи?

В датасете формировать seqlen, embedding_dim для каждого юзера, где в __getitem__ подавать indx юзера. Там же формировать seq_len заданной длинны из рандомных наблюдений, но с хотя бы одним фродом в юзере

Тогда даталоадер будет формировать батчи -> batch_size, seq_len, embedding_dim. В colate_fn падить последовательности до максимальной длинны.

Линейный слой нормально должен работать с размерностью batch_size, seq_len, embedding_dim.

Возможно лосс придется считать в цикле [loss(seq, target) for seq in batch_size ].sum()